body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: lightyellow;
    color: darkred;
}

.card{
    background-color: white;
    color: black;
    height: 300px;
    width: 300px;
    display: inline-flex;
    flex-direction: column-reverse;
}
.card .desc{
    font-size: 0.8rem;
}
.card .title{
    font-size: 1.2rem;
}
